body{


}

.loginform{

      border: 1px solid #d4d4d4;
      margin: 0px auto;
      margin-top: 150px;
      margin-bottom: 150px;
      padding: 10px;
      max-width: 340px;
      box-shadow: 5px 5px 2px 1px #e7e6e6;
      font-size: 12px;
}

#hapic{

   width: 320px;
   margin-bottom: 10px;

}